{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>

      <div id="wrapper" class="homepage-1"> <!-- wrapper -->
          
          
          <div id="content"> <!-- Content -->
              <div class="page-title">
                  <div class="container">
                      <div class="page-title-inner">
                          <h3>login</h3>
                          <div class="breadcumb"> <a href="">Home</a><span> / </span><span>login</span></div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
              </div>
              
              <div class="about-page">
                  <div class="container">
                      <div class="row">
                          
                          
                          <div class="col-md-12 ct-form">
                              <h3>Forgot Password</h3>
                              {% if msg %}
                              <b style="color: blue;">{{msg}}</b>
                              {% endif %}
                              <form class="contact-form" action="{% url 'forgot-password' %}" method="post">
                                {% csrf_token %}
                                  

                                  <div class="form-group">
                                      <label for="cf_email">Email</label>
                                      <input type="email" class="form-control" name="email" id="cf_email" placeholder="Enter Email">
                                  </div>

                                 
                                  <button type="submit" class="btn btn-blue">Forgot Password</button>


                              </form>
                          </div>
                      </div>
                      
                      
                  </div>
              </div>

          </div> <!-- Content -->
          
      </div> <!-- wrapper -->

    </script>
  </body>
</html>
{% endblock %}