{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>

      <div id="wrapper" class="homepage-1"> <!-- wrapper -->
          
          
              
              <div class="newest">
                  <div class="container">
                      <div class="newest-content">
                          <div class="newest-tab">
                              
                              
                              <div id="myTabContent" class="tab-content">
                                  <div role="tabpanel" class="tab-pane fade in active" id="1" aria-labelledby="cat-1">
                                      <div class="row clearfix">
                                        
                                          <div class="col-md-3 prdct-grid">
                                              <div class="product-fade">
                                        
													<div class="product-fade-wrap">
                                                        
                                                            <div class="item"><img src="{{product.product_image.url}}" alt="" class="img-responsive"></div>
                                                           
                                                      
														<div class="product-fade-ct">
                                                            <div class="product-fade-control">
                                                                
                                                                <div class="to-right">
                                                                    <div id="product-control" class="owl-carousel owl-theme clearfix">
                                                                        <div class="item"><div class="bullets"></div></div>
                                                                        <div class="item"><div class="bullets"></div></div>
                                                                        <div class="item"><div class="bullets"></div></div>
                                                                        <div class="item"><div class="bullets"></div></div>
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                                
                                                            </div>
                                                            
														</div>
													</div>
                                              </div>
                                              
                                              <div class="product-name">
                                                  <a href="">Name: {{product.product_name}}</a>
                                              </div>
                                              
                                              <div class="product-price">
                                                  Price:{{product.product_price}}
                                              </div>

                                              <div class="product-desc">
                                                  Details:{{product.product_desc}}
                                              </div>
                                              {% if request.session.email %}
                                                      {% if cart_flag == False %}
                                                      <a href="{% url 'add-to-cart' pk=product.pk %}"> <input type="button" class="btn btn-primary" value="Add to Cart"></a>
                                                      {% else %}
                                                      <a href="{% url 'remove-from-cart' pk=product.pk %}"> <input type="button" class="btn btn-danger" value="Remove From Cart"></a>
                                                      {% endif %}

                                                      {% if wishlist_flag == False %}
                                                      <a href="{% url 'add-to-wishlist' pk=product.pk %}"> <input type="button" class="btn btn-primary" value="Add to Wishlist"></a>
                                                      {% else %}
                                                      <a href="{% url 'remove-from-wishlist' pk=product.pk %}"> <input type="button" class="btn btn-danger" value="Remove From Wishlist"></a>
                                                      {% endif %}
                                                      </div>

                                              {% else %}
                                                <div class="product-name">
                                                <a href="{% url 'login' %}"> <input type="button" class="btn btn-primary" value="LOGIN"></a>
                                              </div>
                                              {% endif %}

                                          </div>
                                          
                                          
                  </div>
              </div>
              
              
                          
                       
             
              
          </div> <!-- Content -->
         
      </div> <!-- wrapper -->

   
  </body>
</html>
{% endblock %}