{% extends 'seller-header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>

      <div id="wrapper" class="homepage-1"> <!-- wrapper -->
          
          
          <div id="content"> <!-- Content -->
              <div class="page-title">
                  <div class="container">
                      <div class="page-title-inner">
                          <h3>Edit Product</h3>
                          <div class="breadcumb"> <a href="">Home</a><span> / </span><span>Edit Product</span></div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
              </div>
              
              <div class="about-page">
                  <div class="container">
                      <div class="row">
                          
                          
                          <div class="col-md-12 ct-form">
                              <h3>Edit Product</h3>
                              {% if msg %}
                              <b style="color: blue;">{{msg}}</b>
                              {% endif %}
                              <form class="Edit-Product" action="{% url 'seller-product-edit' pk=product.pk %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group">
                                      
                                      <select class="form-control" name="product_category">
                               {% if product.product_category == "Men" %}
                               <option>Select category</option>
                                        <option value="Men" selected>Men</option>
                                        <option value="Women">Women</option>
                                        <option value="kids">Kids</option>
                               {% elif product.product_category == "Women" %}
                               <option>Select category</option>
                                        <option value="Men">Men</option>
                                        <option value="Women" selected>Women</option>
                                        <option value="kids">Kids</option>
                               {% elif product.product_category == "kids" %}
                                        <option>Select category</option>
                                        <option value="Men">Men</option>
                                        <option value="Women">Women</option>
                                        <option value="kids" selected>Kids</option>
                                {% endif %}
                                      </select>
                                  </div>

                                  <div class="form-group">
                                      <label for="cf_name">Product Name</label>
                                      <input type="text" class="form-control" name="product_name" id="cf_name" value="{{product.product_name}}">
                                  </div>

                                  <div class="form-group">
                                      <label for="cf_name">Product Price</label>
                                      <input type="text" class="form-control" name="product_price" id="cl_name" value="{{product.product_price}}">
                                  </div>

                                 
                                  <div class="form-group">
                                      <label for="cf_message">Product Description</label>
                                      <textarea class="form-control" name="product_desc" id="cf_message">{{product.product_desc}}</textarea>
                                  </div>

                                  

                                  <div class="form-group">
                                      <img src="{{product.product_image.url}}" style="width: 100px; height: 100px; border-radius: 50%;">
                                  </div>

                                  

                                  <button type="submit" class="btn btn-primary">Update Product</button>
                              </form>
                          </div>
                      </div>
                      
                     
                  </div>
              </div>

          </div> <!-- Content -->
          
      </div> <!-- wrapper -->

    </script>
  </body>
</html>
{% endblock %}